h1{
    color: #123456;
}

a:link{
    color: cyan;
}
a:visited{
    color: crimson;
}

.header{
    color: #aeaeae;
    display: flex;
    padding: 40px;
    margin-left: 100px;
}

.grid{
    color: #135791;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin-right: 50px;
    border: 2px solid #7ef562;
    border-radius: 50px;
}

.item{
    color: #abcdef;
    display: flex;
    padding: 50px;
    margin: 30px;
    background-color: #121299;
    border-radius: 20px;
    width: 310px;
    font-family: fantasy;
}

.item{
    position: relative;
}
.item p{
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
}

.item:hover p{
    opacity: 1;
}

.bodyimg{
    color: rgb(255, 230, 0);
    display: flex;
    padding: 40px;
    margin: 70px;
    background-color: seagreen;
}

.menu{
    color: midnightblue;
    display: flex;
    padding: 50px;
    margin-top: 70;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: navy;
}